
[Unit]
Description=PeerVPN network service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/src/peervpn/peervpn /usr/local/src/peervpn/peervpn.conf

[Install]
WantedBy=multi-user.target
